extends layout

block content
  .w3-content
    header.w3-container.w3-center.w3-padding-48.w3-black
      h1.w3-xxxlarge Partitura
  .w3-container
    table.w3-table-all.w3-card-4
      tr.w3-hover-blue
        th ID
        th Voz
        th Clave
        th Path
      each partitura in partituras
        tr.w3-hover-blue
          td= partitura.id
          td= partitura.voz
          td= partitura.clave
          td= partitura.path 